<!-- Toolbar -->
<div id="root">
  <div>
    <div class="appBar">
      <a class="titleLogoContainer" routerLink="">
        <img width="40" alt="Logo" src="..\assets\images\logo.png" />
        <h1>Pets & Animals</h1>
      </a>
      <div *ngIf="user.isLoggedIn" class="dpContainer">
        <img *ngIf="!!user.photoURL" [src]="user.photoURL" class="dpImg" />
        <mat-icon *ngIf="!user.photoURL" aria-hidden="false" aria-label="User Acc">
          person_outline
        </mat-icon>
      </div>
      <button *ngIf="!user.isLoggedIn" (click)="loginWithGoogle()">
        <mat-icon aria-hidden="false" aria-label="Login Icon">login</mat-icon>
        <span>Google Login</span>
      </button>
    </div>
    <div class="sidebar">
      <div class="businessLinks">
        <a routerLink="/pets" routerLinkActive="linkActive">
          <mat-icon aria-hidden="false" aria-label="Home Icon">pets</mat-icon>
          <span>Pets</span>
        </a>
        <a routerLink="/roast" routerLinkActive="linkActive">
          <mat-icon aria-hidden="false" aria-label="Home Icon">local_dining</mat-icon>
          <span>Roast</span>
        </a>
        <a routerLink="/animals" routerLinkActive="linkActive">
          <mat-icon aria-hidden="false" aria-label="Home Icon">cruelty_free</mat-icon>
          <span>Animals</span>
        </a>
        <a routerLink="/animal-feeds" routerLinkActive="linkActive">
          <mat-icon aria-hidden="false" aria-label="Home Icon">grass</mat-icon>
          <span>Animal Feeds</span>
        </a>
        <a routerLink="/vet-services" routerLinkActive="linkActive">
          <mat-icon aria-hidden="false" aria-label="Home Icon">medical_services</mat-icon>
          <span>Vet Services</span>
        </a>
      </div>
      <div class="settings">
        <a routerLink="/settings" routerLinkActive="linkActive">
          <mat-icon aria-hidden="false" aria-label="Home Icon">settings</mat-icon>
          <span>Settings</span>
        </a>
      </div>
    </div>
  </div>
  <div id="appRouterOutlet">
    <router-outlet></router-outlet>
  </div>
</div>
