.grid {
  display: grid;
}

.fixedPosition {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#appRouterOutlet {
  .fixedPosition();
  top: 50px;
  margin-left: 160px;
  padding: 0 16px;
  height: 100vh;
  box-sizing: border-box;
  width: calc(100vw - 160px);
}

.sidebar {
  .fixedPosition();
  height: 100vh;
  width: 160px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  z-index: 2;
  overflow: hidden;
}

.businessLinks {
  .grid();
  padding: 80px 0;
}

.settings {
  padding-bottom: 16px;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 16px;
  display: flex;
  width: 100%;
}

a:hover {
  background-color: #FFF8E1;
}

.linkActive {
  background-color: #FFF8E1;
}

a span,
button span {
  margin-left: 8px;
}

.appBar {
  .fixedPosition();
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  z-index: 5;
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;
  background-color: #FFF8E1;
  ;
}

.dpContainer {
  border: 2px solid #1A237E;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  overflow: hidden;
}

.dpImg {
  width: 100%;
  height: 100%;
}

.titleLogoContainer {
  display: flex;
  align-items: center;
  padding: 4px 2px;
  cursor: pointer;
}

button {
  width: 170px;
  background: none;
  border: none;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}
