<!-- Toolbar -->
<div id="root">
  <div class="titleLogoContainer">
    <img
      width="40"
      alt="Logo"
      src="..\assets\images\logo.png"
    />
    <h1>Pets & Animals</h1>
  </div>
  <div class="sidebar">
    <div class="businessLinks">
      <a href="#">Pets</a>
      <a href="#">Roast</a>
      <a href="#">Live Animals</a>
      <a href="#">Animal Feeds</a>
      <a href="#">Vet Services</a>
    </div>
    <div class="settings">
      <a href="#">Settings</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
